In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('./src/final_dataset.csv')
df.columns

Index(['date', 'season', 'league_name', 'team_long_name_home',
       'team_short_name_home', 'team_short_name_away', 'team_long_name_away',
       'home_team_goal', 'away_team_goal', 'match_result',
       'home_players_average_rating', 'away_players_average_rating',
       'home_players_average_score', 'away_players_average_score',
       'away_team_score', 'home_team_score', 'home_team_red_cards',
       'away_team_red_cards', 'avg_bet_home', 'avg_bet_draw', 'avg_bet_away'],
      dtype='object')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14916 entries, 0 to 14915
Data columns (total 21 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   date                         14916 non-null  object
 1   season                       14916 non-null  object
 2   league_name                  14916 non-null  object
 3   team_long_name_home          14916 non-null  object
 4   team_short_name_home         14916 non-null  object
 5   team_short_name_away         14916 non-null  object
 6   team_long_name_away          14916 non-null  object
 7   home_team_goal               14916 non-null  int64
 8   away_team_goal               14916 non-null  int64
 9   match_result                 14916 non-null  int64
 10  home_players_average_rating  14916 non-null  float64
 11  away_players_average_rating  14916 non-null  float64
 12  home_players_average_score   14916 non-null  float64
 13  away_players_average_score   14916 non-null  float64
 14  away_team_score              14916 non-null  float64
 15  home_team_score              14916 non-null  float64
 16  home_team_red_cards          14916 non-null  int64
 17  away_team_red_cards          14916 non-null  int64
 18  avg_bet_home                 14916 non-null  float64
 19  avg_bet_draw                 14916 non-null  float64
 20  avg_bet_away                 14916 non-null  float64
dtypes: float64(9), int64(5), object(7)
memory usage: 2.4+ MB

In [4]:
df1 = df[['league_name', 'team_long_name_home',
       'team_short_name_home',]]
df1.columns = ['league_name', 'team_long_name',
       'team_short_name']
df2 = df[['league_name', 'team_long_name_away',
       'team_short_name_away',]]
df2.columns = ['league_name', 'team_long_name',
       'team_short_name']
concat_df = pd.concat([df1, df2], ignore_index=True)
concat_df.drop_duplicates(inplace=True)
cross_joined_df = pd.concat(
    [
        sub_df.merge(sub_df, on='league_name').query('team_long_name_x != team_long_name_y')
        for _, sub_df in concat_df.groupby('league_name')
    ]
)
cross_joined_df.columns = ['league_name', 'team_long_name_home',
       'team_short_name_home','team_long_name_away',
       'team_short_name_away']
cross_joined_df

,league_name,team_long_name_home,team_short_name_home,team_long_name_away,team_short_name_away
1,Belgium Jupiler League,RSC Anderlecht,AND,KV Mechelen,MEC
2,Belgium Jupiler League,RSC Anderlecht,AND,Standard de Liège,STL
3,Belgium Jupiler League,RSC Anderlecht,AND,Beerschot AC,BAC
4,Belgium Jupiler League,RSC Anderlecht,AND,KRC Genk,GEN
5,Belgium Jupiler League,RSC Anderlecht,AND,SV Zulte-Waregem,ZUL
...,...,...,...,...,...
955,Spain LIGA BBVA,UD Las Palmas,LAS,Granada CF,GRA
956,Spain LIGA BBVA,UD Las Palmas,LAS,RC Celta de Vigo,CEL
957,Spain LIGA BBVA,UD Las Palmas,LAS,Elche CF,ELC
958,Spain LIGA BBVA,UD Las Palmas,LAS,SD Eibar,EIB
959,Spain LIGA BBVA,UD Las Palmas,LAS,Córdoba CF,COR

In [5]:
temp_df=df
temp_df['date'] = pd.to_datetime(temp_df['date'])
temp_df=temp_df.sort_values('date').drop_duplicates(['league_name', 'team_long_name_home',
       'team_short_name_home', 'team_short_name_away', 'team_long_name_away',], keep='last')
cross_joined_df=pd.merge(cross_joined_df, temp_df, on=['league_name', 'team_long_name_home',
       'team_short_name_home','team_long_name_away',
       'team_short_name_away'], how='left')

In [6]:
temp_df

,date,season,league_name,team_long_name_home,team_short_name_home,team_short_name_away,team_long_name_away,home_team_goal,away_team_goal,match_result,...,away_players_average_rating,home_players_average_score,away_players_average_score,away_team_score,home_team_score,home_team_red_cards,away_team_red_cards,avg_bet_home,avg_bet_draw,avg_bet_away
12778,2010-01-03,2009/2010,Spain LIGA BBVA,Racing Santander,SAN,TEN,CD Tenerife,2,0,1,...,72.00,67.20,64.91,40.62,56.88,0,0,0.505051,0.303030,0.277008
12780,2010-01-03,2009/2010,Spain LIGA BBVA,UD Almería,ALM,XER,Xerez Club Deportivo,1,0,1,...,70.27,66.79,64.15,43.75,54.38,0,0,0.574713,0.292398,0.214133
10741,2010-01-10,2009/2010,Portugal Liga ZON Sagres,Académica de Coimbra,ACA,NAV,Naval 1° de Maio,2,0,1,...,66.36,63.13,61.47,39.38,39.38,0,0,0.515464,0.324675,0.265252
12787,2010-01-10,2009/2010,Spain LIGA BBVA,CD Tenerife,TEN,BAR,FC Barcelona,0,5,-1,...,83.73,64.91,76.37,52.12,40.62,0,0,0.135501,0.226757,0.724638
3114,2010-01-13,2009/2010,France Ligue 1,US Boulogne Cote D'Opale,BOU,SOC,FC Sochaux-Montbéliard,0,0,0,...,68.73,59.37,62.30,52.62,53.12,0,0,0.334448,0.333333,0.418410
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12743,2015-12-30,2015/2016,Scotland Premier League,Motherwell,MOT,JOH,St. Johnstone FC,2,0,1,...,63.73,55.11,57.66,48.25,45.88,0,0,0.353357,0.303030,0.409836
3028,2015-12-30,2015/2016,England Premier League,Sunderland,SUN,LIV,Liverpool,0,1,-1,...,78.64,66.27,69.09,48.62,49.88,0,0,0.198413,0.271739,0.581395
14837,2015-12-30,2015/2016,Spain LIGA BBVA,Getafe CF,GET,COR,RC Deportivo de La Coruña,0,0,0,...,73.55,66.86,64.74,49.88,43.62,0,0,0.392157,0.315457,0.346021
14843,2015-12-30,2015/2016,Spain LIGA BBVA,Rayo Vallecano,RAY,AMA,Atlético Madrid,0,2,-1,...,79.18,63.48,68.72,52.75,47.12,0,0,0.158228,0.252525,0.636943
14836,2015-12-31,2015/2016,Spain LIGA BBVA,Villarreal CF,VIL,VAL,Valencia CF,1,0,1,...,75.73,67.13,67.25,45.38,45.75,0,0,0.537634,0.289017,0.225734

In [7]:
# заполним рейтинги и очки команд для новых комбинаций пар
temp_df1 = temp_df[['date', 'team_long_name_home',
       'team_short_name_home','home_players_average_rating', 'home_players_average_score',
       'home_team_score']]
temp_df1.columns = ['date', 'team_long_name',
       'team_short_name','players_average_rating', 'players_average_score',
       'team_score']
temp_df2 = temp_df[['date', 'team_long_name_away',
       'team_short_name_away','away_players_average_rating', 'away_players_average_score',
       'away_team_score']]
temp_df2.columns = ['date', 'team_long_name',
       'team_short_name','players_average_rating', 'players_average_score',
       'team_score']
concat_temp_df = pd.concat([temp_df1, temp_df2], ignore_index=True)
concat_temp_df=concat_temp_df.sort_values('date').drop_duplicates(['team_long_name', 'team_short_name'], keep='last')
cross_joined_df['home_players_average_rating']=cross_joined_df['home_players_average_rating'].fillna(cross_joined_df.apply(lambda x: concat_temp_df[concat_temp_df['team_long_name'] == x['team_long_name_home'] ]['players_average_rating'].values[0] if pd.isnull(x['home_players_average_rating']) else x['home_players_average_rating'], axis=1))
cross_joined_df['away_players_average_rating']=cross_joined_df['away_players_average_rating'].fillna(cross_joined_df.apply(lambda x: concat_temp_df[concat_temp_df['team_long_name'] == x['team_long_name_home'] ]['players_average_rating'].values[0] if pd.isnull(x['away_players_average_rating']) else x['away_players_average_rating'], axis=1))
cross_joined_df['home_players_average_score']=cross_joined_df['home_players_average_score'].fillna(cross_joined_df.apply(lambda x: concat_temp_df[concat_temp_df['team_long_name'] == x['team_long_name_home'] ]['players_average_score'].values[0] if pd.isnull(x['home_players_average_score']) else x['home_players_average_score'], axis=1))
cross_joined_df['away_players_average_score']=cross_joined_df['away_players_average_score'].fillna(cross_joined_df.apply(lambda x: concat_temp_df[concat_temp_df['team_long_name'] == x['team_long_name_home'] ]['players_average_score'].values[0] if pd.isnull(x['away_players_average_score']) else x['away_players_average_score'], axis=1))
cross_joined_df['home_team_score']=cross_joined_df['home_team_score'].fillna(cross_joined_df.apply(lambda x: concat_temp_df[concat_temp_df['team_long_name'] == x['team_long_name_home'] ]['team_score'].values[0] if pd.isnull(x['home_team_score']) else x['home_team_score'], axis=1))
cross_joined_df['away_team_score']=cross_joined_df['away_team_score'].fillna(cross_joined_df.apply(lambda x: concat_temp_df[concat_temp_df['team_long_name'] == x['team_long_name_home'] ]['team_score'].values[0] if pd.isnull(x['away_team_score']) else x['away_team_score'], axis=1))

In [8]:
cross_joined_df[['date', 'season', 'league_name', 'team_long_name_home',
       'team_short_name_home', 'team_short_name_away', 'team_long_name_away',
       'home_team_goal', 'away_team_goal', 'match_result',
       'home_players_average_rating', 'away_players_average_rating',
       'home_players_average_score', 'away_players_average_score',
       'away_team_score', 'home_team_score', 'home_team_red_cards',
       'away_team_red_cards', 'avg_bet_home', 'avg_bet_draw', 'avg_bet_away']].to_csv(
    './src/new_variables.csv', index=False)